
<html>
  <head>  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a routerLink="/Dashboard">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           &nbsp;&nbsp;&nbsp;<b> <font color="white"size="4px">Dashboard</font></b>
                        </span>
                    </a>                </li>
                    <li>
                      <a routerLink="/arul">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            &nbsp;&nbsp;&nbsp;  <b> <font color="white"size="4px">User</font></b>

                        </span>
                    </a>                </li>

                    <li>
                    <a routerLink="/meanstack">
                      <i class="fa fa-admin fa-user"></i>
                      <span class="nav-text">
                          &nbsp;&nbsp;&nbsp; <b> <font color="white" size="4px">Admin</font></b>
                      </span>
                  </a>                </li>
                  

                  
                <li class="has-subnav">
                  <a routerLink="/set">
                    &nbsp; &nbsp; <i class="fa fa-laptop fa-2x"></i>
                   
                       <span class="nav-text">
                        <b> <font color="white"size="3px"> &nbsp; &nbsp;Questions-set</font></b>
                      </span>
                    </a>                </li>
                    <li class="has-subnav">
                      <a routerLink="/update">
                        &nbsp; &nbsp;  <i class="fa fa-map-marker fa-2x"></i>
                        &nbsp; &nbsp;
                           <span class="nav-text">
                            <b> <font color="white"size="3px"> &nbsp; &nbsp;Update</font></b>
                          </span>
                        </a>                </li>
                        <li class="has-subnav">
                          <a routerLink="/userdetails">
                            &nbsp; &nbsp;  <i class="fa fa-table fa-2x"></i>
                            &nbsp; &nbsp;
                               <span class="nav-text">
                                <b> <font color="white"size="3px"> &nbsp; &nbsp;User_Details</font></b>
                              </span>
                            </a>                </li>
                <li class="has-subnav">
                  <a routerLink="/test">
                    &nbsp; &nbsp; <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                      <b> <font color="white"size="3px"> &nbsp; &nbsp;Test</font></b>
                    </span>
                    </a>                </li>

                   

                
            </ul>
        </nav>
  </body>
    </html>

     



 <router-outlet></router-outlet>

 