<html>

  <body>
    <div  id="containerid" class="container">
<br><br><br>
            <button id="admin"><font color="darkrose">Admin</font></button>
            <a class="nav-link" routerLink="/"><font color="darkviolet">Back</font></a>

            <br>

<br>
<br><br><br>
            <img id="profileid" src="../../assets/admin.jpg" alt="Admin" />

            <br><br><br><br><br><br>
            <div class="container1">
              <div class="row">
                
              <div class="col-sm-4">
                <label for="Name" ><b>Name</b>&nbsp;:</label>&nbsp;<input type="text" name="name" value={{Name}} readonly #name><br><br><br>
                <label for="Name" ><b>E-Mail</b>&nbsp;:</label><input type="text" name="mail" value={{Mail}} readonly #name>


              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <label for="Age"><b>Last_Name:</b> &nbsp;:</label><input type="text" name="last" value={{Last}} readonly #name><br><br><br>

              </div>

              </div>
            </div>

            <!-- <img src="../../src/assets/admin.jpg" alt="Admin" />   /// Using images in Assets and make as it in '../../' likr -->
    </div>
  </body>
</html>